<!DOCTYPE html>
<html>
  <head>
    <title>Courses</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="/styles/dashboard.css" rel="stylesheet">
    <link href="/styles/courses.css" rel="stylesheet">
    <script src="/scripts/courses.js" defer></script>
  </head>
  <body>
    <div class="header">
      <div class="profile-info">
        <div class="username">
          <%= name %>
        </div>
      </div>
      <div class="badges">

      </div>
    </div>

    <div class="dashboard-grid">
      <div class="navigation-bar">
        <p class="navigation-heading">
          ACCOUNT
        </p>
        <ul>
          <li><a href="">Progress</a></li>
          <li><a href="/">Profile</a></li>
          <li><a href="">Wallet</a></li>
        </ul>
        <p class="navigation-heading">
          STUFF
        </p>
        <ul>
          <li><a href="" style="font-weight: 700">Courses</a></li>
          <li><a href="">Marketplace</a></li>
        </ul>
      </div>
      <div class="divider">
      </div>
      <ul id="link-list">
        <li><button class="link" id="simple-addition">Simple Addition</button></li>
        <li><button class="link" id="simple-subtraction">Simple Subtraction</button></li>
        <li><button class="link" id="mult-by-ten">Multiply by 10</button></li>
        <li><button class="link" id="mult-by-five">Multiply by 5</button></li>
      </ul>
  </body>
</html>