<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="/styles/dashboard.css" rel="stylesheet">
    <script src="/scripts/dashboard.js" defer></script>
  </head>
  <body>
    <div class="header">
      <div class="profile-info">
        <div class="username">
          tn8197
        </div>
      </div>
      <div class="badges">

      </div>
    </div>

    <div class="dashboard-grid">
      <div class="navigation-bar">
        <p class="navigation-heading">
          ACCOUNT
        </p>
        <ul>
          <li><a href="">Progress</a></li>
          <li><a href="">Profile</a></li>
          <li><a href="">Wallet</a></li>
        </ul>
        <p class="navigation-heading">
          STUFF
        </p>
        <ul>
          <li><a href="">Courses</a></li>
          <li><a href="">Marketplace</a></li>
        </ul>
      </div>
      <div class="divider">
      </div>
      <div class="profile-stats">
          <div class="user-stats">
            
          </div>
          <div class="badge-list">
            
          </div>
          <div class="wallet-info">
            
          </div>
      </div>
    </div>
  </body>
</html>