<!DOCTYPE html>
<html>
  <head>
    <title>Platform</title>
    <link href="/styles/platform-game.css" rel="stylesheet">
    <script src="/scripts/phaser.js"></script>
    <script src="/scripts/platform-game.js" defer></script>
  </head>
  <body>

  </body>
</html>