<!DOCTYPE html>
<html>
  <head>
    <title>Problems</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="/styles/problems.css" rel="stylesheet">
    <script src="/scripts/problems.js" defer></script>
  </head>
  <body>
    <div class="filler"></div>
    <div style="margin-top: 100px; margin-bottom: 100px;">
      <p id="question">
        
      </p>
      <div id="choice-grid">
        <button class="choice">
          
        </button>
        <button class="choice">
          
        </button>
        <button class="choice">
          
        </button>
        <button class="choice">
          
        </button>
      </div>
      <button id="next-button">
        <span id="next-text">Next</span>
      </button>
    </div>
    <div class="filler" style="position: fixed; bottom:0%;"></div>
  </body>
</html>