<!DOCTYPE html>
<html>
  <head>
    <title>Create an account</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="/styles/register.css" rel="stylesheet">
  </head>
  <body>
    <div id="login-grid">
      <div id="left-side">
      </div>
      <div id="login-input">
        <div id="welcome-heading">
          Create an account
        </div>
        <form action="/register" method="POST">
          <div class="info-input">
            <span style="font-weight: bold">Username</span>
            <input class="input-bar" type="text" placeholder="Username" name="name" required>
          </div>
          <div class="info-input">
            <span style="font-weight: bold">Email</span>
            <input class="input-bar" type="email" placeholder="Email" name="email" required>
          </div>
          <div class="info-input">
            <span style="font-weight: bold">Password</span>
            <input class="input-bar" type="password" placeholder="Password" name="password" required>
          </div>
          <div class="info-input">
            <button id="login-button" type="submit">
              <span id="login-text">Register</span>
            </button>
          </div>
        </form>
        <a href="/login">Login</a>
      </div>
    </div>    
  </body>
</html>

<!--width: 1440px-->
