<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Game</title>
    <link href="/styles/test-style.css" rel="stylesheet">
    <script src="/scripts/test-game.js" defer></script>
  </head>
  <body>
    <div id="game">
      <div id="character">

      </div>
    </div>
    <div style="margin-top: 20px">
      <p id="question">
        
      </p>
      <div id="choice-grid">
        <button class="choice" id="choice1">
          
        </button>
        <button class="choice" id="choice2">
          
        </button>
        <button class="choice" id="choice3">
          
        </button>
        <button class="choice" id="choice4">
          
        </button>
      </div>
    </div>
  </body>
</html>