<!DOCTYPE html>
<html>
  <head>
    <title>World</title>
    <link href="/styles/test-world.css" rel="stylesheet">
    <script src="/scripts/phaser.js"></script>
    <script src="/scripts/test-world.js" defer></script>
    <img src="/images/sprite.png" id="sprite-image" hidden>
    <img src="/images/background-test.v1.png" id="world-image" hidden>
  </head>
  <body>
        
  </body>
</html>